snippet mf "Makefile" b
CC=g++
CFLAGS=-c -Wall

all: ${1:output}

${1:output}: ${2:source.cpp}
    ${CC} ${CFLAGS} ${2:source.cpp} -o ${1:output}
endsnippet


snippet mfc "Makefile (with header paths)" b
CC=g++
CFLAGS=-c -Wall -I${1:/path/to/headers}

all: ${2:output}

${2:output}: ${3:source.cpp}
    ${CC} ${CFLAGS} ${3:source.cpp} -o ${2:output}
endsnippet

snippet echo "echo"
@echo $0
endsnippet
